* {
  box-sizing: border-box;
  padding: 1px;
  font-family: "Itim", sans-serif;
  
}

body {
  width: auto;
  padding: 0px;
  background-color: rgb(245, 245, 245);
  
  
}

.container-fluid {
  
  background-image: linear-gradient(#0059ff, #a7ddff);
  padding: 10px;
  text-align: center;
  width:100%;
  border-radius: 25px;
}

.nav {
  background-color: #a7ddff;
  padding: 10px;
  
  
  border-radius: 25px;
    
}

.nav ul {
  background-color: #a7ddff;
  padding: 10px;
  text-align: left;
  border-radius: 25px;
    
}

.main {
  background-color: #a7ddff;
  padding: 0px;
  width:100%;
  border-radius: 25px;
}


.footer {
  background-image: linear-gradient(#a7ddff, #0059ff);
  padding: 10px;
  width:100%;
  border-radius: 25px;
}

.button {
  background-color: #a7ddff;
  border-color: #a7ddff;
  border: silver;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  font-size:18px;
    
}

#Informacion-personal {
  display: none;
  text-align: left;

}

#Educacion {
  display: none;
  text-align: left;
}

#Experiencia {
  display: none;
  text-align: left;
}

#Referencias-laborales {
  display: none;
  text-align: left;
}


